<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}{% if title != 'Sasha Mansurov' %} • Sasha Mansurov{% endif %}</title>
    <link rel="preload" href="/static/fonts/pt-mono-v13-cyrillic_latin-regular.woff2" as="font" crossorigin type="font/woff2">
    {% if preloads %}
      {% for item in preloads %}
        <link rel="preload" href="{{ item.url }}" as="image" type="{{ item.type }}">
      {% endfor %}
    {% endif %}
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/static/style.css' | bust }}" />
    <link rel="stylesheet" href="{{ '/static/awsm.css' | bust }}" />
    {% if env.runMode == "build" %}
      <script defer src="https://cloud.umami.is/script.js" data-website-id="f201f308-c021-41a7-b28e-ec41d43554be"></script>
    {% endif %}
  </head>
  <body class="{{class}}" data-mode="{{ env.runMode }}">
    <header class="container mb-4">
      <nav>
        {% assign navPages = collections.all | eleventyNavigation %}
        <ul>
          {%- for entry in navPages %}
            <li><a href="{{ entry.url }}" class="btn {% if entry.url == page.url %}active{% endif %}">{{ entry.title }}</a></li>
          {%- endfor %}
        </ul>
      </nav>
    </header>

    <div class="container mb-4">
      <div class="columns">
        <div class="col">
          <h1>{{ title }}</h1>
            <i>
            {% if subtitle != null %}
              {{ subtitle }}
            {% else %}
              {{ page.date | date: "%e %B %Y" }}
            {% endif %}
            </i>
        </div>
        <div class="col">
          {% if title == 'Sasha Mansurov' %}
            <img src="/images/me.jpeg" id="avatar" alt="Sasha Mansurov" style="width: 4rem; height: 4rem; border-radius: 0.5rem;" />
            {% endif %}
        </div>
      </div>
    </div>

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    <footer class="container">
      <hr style="border-top-style: solid" />
      <i>© 2016&ndash;2026 Sasha Mansurov. Made in Warsaw</i>
    </footer>
  </body>
</html>
