<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}{% if title != 'Sasha Mansurov' %} • Sasha Mansurov{% endif %}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class={{class}}>
    <header>
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>

      <nav>
        {% assign navPages = collections.all | eleventyNavigation %}
        <ul>
          {%- for entry in navPages %}
            {% if entry.url == page.url %}
              <li>{{ entry.title }}</li>
            {% else %}
              <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
            {% endif %}
          {%- endfor %}
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <nav>
        <ul>
          <li><a href="https://letterboxd.com/mansurov/" target="_blank">letterboxd</a></li>
          <li><a href="https://lichess.org/@/sashamjolnir" target="_blank">lichess</a></li>
        </ul>
      </nav>
      <p>© 2016&ndash;2024 Sasha Mansurov.</p>
    </footer>
  </body>
</html>
