<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}{% if title != 'Sasha Mansurov' %} • Sasha Mansurov{% endif %}</title>
    <link rel="preload" href="/static/fonts/pt-mono-v13-cyrillic_latin-regular.woff2" as="font" crossorigin type="font/woff2">
    <link rel="preload" href="{{ '/static/style.css' | bust }}" as="style" />
    {% if preloads %}
      {% for item in preloads %}
        <link rel="preload" href="{{ item.url }}" as="image" type="{{ item.type }}">
      {% endfor %}
    {% endif %}
    <link rel="icon" href="/static/favicon.ico" sizes="32x32">
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/static/style.css' | bust }}" />
    {% if env.runMode == "build" %}
      <script defer src="https://cloud.umami.is/script.js" data-website-id="f201f308-c021-41a7-b28e-ec41d43554be"></script>
    {% endif %}
  </head>
  <body class="{{class}}" data-mode="{{ env.runMode }}">
    <header class="container padding-half">
      <nav>
        {% assign navPages = collections.all | eleventyNavigation %}
        <ul>
          {%- for entry in navPages %}
            {% if entry.url == page.url %}
              <li>{{ entry.title }}</li>
            {% else %}
              <li><a href="{{ entry.url }}" class="muted">{{ entry.title }}</a></li>
            {% endif %}
          {%- endfor %}
        </ul>
      </nav>
    </header>

    <div class="hero">
      <div class="container row">
        {% if title == 'Sasha Mansurov' %}
        <img src="/images/me.jpeg" alt="Sasha Mansurov" style="width: 6rem; height: 6rem; border-radius: 3rem; margin-left: 1.5rem;" />
        {% endif %}
        <div class="padding">
        <h1>{{ title }}</h1>
        <i>
          {% if subtitle != null %}
            {{ subtitle }}
          {% else %}
            {{ page.date | date: "%e %B %Y" }}
          {% endif %}
        </i>
        </div>
      </div>
    </div>

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
  </body>
</html>
