---
layout: "base.liquid"
---

<div class="columns mb-3">
  <div class="col">
    {{ content }}
  </div>
  <div class="col">
    {% if summaryBooks.length > 0 %}
    <section>
      <h3>Книги</h3>
      <div class="row">
      {% for book in summaryBooks %}
        {% if mapBooksReviews[book.title] %}
        <a href="/books/{{mapBooksReviews[book.title]}}"><img src="/images/books/{{book.cover}}" alt="{{ book.title }}" title="{{ book.title }}" class="book" /></a>
        {% else %}
        <img src="/images/books/{{book.cover}}" alt="{{ book.title }}" title="{{ book.title }}" class="book" />
        {% endif %}
      {% endfor %}
      </div>
    </section>
    {% endif %}
    {% if summaryActivities %}
    <section>
      <h3>Спорт</h3>
      {% include 'activities-table.liquid', 
         title: summaryActivities.title, 
         types: summaryActivities.types, 
         rows: summaryActivities.rows %}
    </section>
    {% endif %}
    {% if summaryQuotes.length > 0 %}
    <section>
      <h3>Цитаты</h3>
      <div>
      {% for quote in summaryQuotes %}<blockquote><p>{{ quote.title | newline_to_br }}</p><footer>— {{ quote.author }}, <cite>{% if quote.link %}<a href="/blog/{{quote.link}}">{{ quote.song }}</a>{% else %}{{ quote.song }}{% endif %}</cite></footer></blockquote>{% endfor %}
      </div>
    </section>
    {% endif %}
    {% if summaryPosts.length > 0 %}
    <section>
      <h3>Посты</h3>
      <ul>
      {% for p in summaryPosts %}<li><a href="{{p.page.url}}">{{ p.data.title }}</a></li>{% endfor %}
      </ul>
    </section>
    {% endif %}
    {% if summaryConcerts.length > 0 %}
      <section>
        <h3>Концерты</h3>
        <ul>
        {% for concert in summaryConcerts %}
          <li>{{ concert.author }} <i>{{ concert.location }}</i>.</li>
        {% endfor %}
        </ul>
      </section>
    {% endif %}
  </div>
</div>

<style>
  section {
    margin: 3rem 0;
  }
  section:first-of-type {
    margin-top: 0;
  }
  section:last-of-type {
    margin-bottom: 0;
  }
  .row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .book {
    height: 10rem;
  }
</style>