{% comment %}
  Ranking of the 12 third-placed teams; top 8 advance. Param: thirds.
{% endcomment %}
<table class="wc-table wc-thirds">
  <thead>
    <tr>
      <th class="wc-pos">#</th>
      <th class="wc-team">Team</th>
      <th title="Played">P</th>
      <th title="Goal difference">GD</th>
      <th title="Points">Pts</th>
    </tr>
  </thead>
  <tbody>
    {% for t in thirds %}
      <tr class="{% if t.certainty == 'in' %}wc-adv{% elsif t.certainty == 'out' %}wc-gone{% endif %}{% if t.seed == 8 %} wc-cutline{% endif %}">
        <td class="wc-pos">{{ t.seed }}</td>
        <td class="wc-team"><span class="wc-tname" title="{{ t.name }}">{% if t.flag != "" %}{{ t.flag }} {% endif %}{{ t.name }} <span class="wc-grp-tag">({{ t.group }})</span></span></td>
        <td>{{ t.played }}</td>
        <td>{% if t.gd > 0 %}+{% endif %}{{ t.gd }}</td>
        <td class="wc-pts">{{ t.points }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
